/* home.css */
.main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
    
}

img{
  width: 100px;
}

.product{
  /* width: 300px; */
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  /* text-decoration: none; */
}